@use "@/assets/styles/_variables.scss" as v;
@use "@/assets/styles/_mixins.scss" as m;
@use "sass:color";

.vel-img {
  max-height: 85vh !important;
  max-width: 85vw !important;
}

.title {
  text-transform: uppercase;
  font-family: v.$open;
  font-weight: bold;
  font-size: 23rem;
}

@mixin faux-bold($color: black) {
  $darker-color: color.adjust($color, $lightness: 30%);

  text-shadow:
    0.5px 0 $darker-color,
    -0.5px 0 $darker-color,
    0 0.5px $darker-color,
    0 -0.5px $darker-color,
    0.5px 0.5px $darker-color,
    -0.5px -0.5px $darker-color,
    0.5px -0.5px $darker-color,
    -0.5px 0.5px $darker-color;
}

.big-title {
  text-transform: uppercase;
  font-family: v.$lato;
  align-items: center;
  padding-top: 70rem;
  font-weight: 900;
  font-size: 72rem;
  color: #b35c4b;
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;

  // @include m.max(md) {
  //   font-size: 50rem;
  // }

  @include m.max(md) {
    justify-content: center;
    font-size: 17px;
  }

  .box {
    padding: 15rem 30rem;
    text-transform: none;
    align-items: center;
    font-weight: bold;
    font-size: 27rem;
    color: white;
    display: flex;
    top: 2rem;

    @include m.max(md) {
      font-size: 23rem;
    }
  }

  .big {
    line-height: 1em;
    display: block;
  }

  &.centered {
    justify-content: center;
  }

  &.green {
    color: v.$green;

    @media (prefers-color-scheme: dark) {
      color: v.$dark-green;
    }

    .big {
      // @include faux-bold(v.$green);
    }

    .box {
      color: #f4f2e9;
      background: v.$green;

      @media (prefers-color-scheme: dark) {
        background: v.$dark-green;
      }
    }
  }

  &.red {
    color: v.$light-red;

    @media (prefers-color-scheme: dark) {
      color: v.$dark-green;
    }

    .big {
      // @include faux-bold(v.$light-red);

      @media (prefers-color-scheme: dark) {
        // @include faux-bold(v.$green);
      }
    }

    .box {
      background: v.$light-red;
      color: #f4f2e9;

      @media (prefers-color-scheme: dark) {
        background: v.$dark-green;
      }
    }
  }

  &.from-studio {
    color: v.$dark-green;

    @media (prefers-color-scheme: dark) {
      color: white;
    }

    .box {
      background: v.$dark-green;
      color: white;

      @media (prefers-color-scheme: dark) {
        background: white;
        color: v.$dark-green;
      }
    }
  }
}

.description {
  padding-top: 15rem;
  line-height: 28rem;
  font-size: 19rem;

  @include m.max(md) {
    line-height: 19px;
    font-size: 15px;
  }

  a {
    transition: background-color 0.2s, color 0.2s;
    text-decoration: underline;
    background: #f4f2e9;

    @media (prefers-color-scheme: dark) {
      background: #57170c;
      color: white;
    }

    &:hover {
      background-color: #9b9788;
      color: white;

      @media (prefers-color-scheme: dark) {
        background: black;
      }
    }
  }

  .highlight {
    padding: 0 5rem 2rem 5rem;
    font-weight: bold;
    background: v.$red;
    color: white;

    &.light {
      background: #f4f2e9;
      font-weight: normal;
      color: v.$green;

      @media (prefers-color-scheme: dark) {
        background: v.$green;
        color: #f4f2e9;
      }
    }
  }

  &.green {
    color: v.$green;

    @media (prefers-color-scheme: dark) {
      color: v.$dark-green;
    }
  }
}

.btn {
  transition: color .2s, background .2s, border .2s;
  border: 1px solid transparent;
  text-transform: uppercase;
  justify-content: center;
  display: inline-flex;
  padding: 16rem 24rem;
  letter-spacing: 2px;
  background: black;
  align-items: center;
  font-weight: 900;
  font-size: 20rem;
  flex-shrink: 0;
  color: white;

  @include m.max(md) {
    padding: 6px 10px;
    font-size: 17rem;
  }

  @include m.max(sm) {
    font-size: 18px;
  }

  &:hover {
    background: white !important;
  }

  &.btn-green {
    background: v.$dark-green;

    &:hover {
      border-color: v.$green;
      color: v.$dark-green;
    }
  }

  &.btn-green-light {
    transition: color .2s, background .2s, border .2s;
    background-color: transparent;
    color: v.$light-green;
    font-family: v.$lato;
    font-size: 40rem;
    font-weight: 900;
    line-height: 1em;
    padding: 0;

    @include m.max(sm) {
      font-size: 18px;
    }

    &:hover {
      color: v.$green;
    }
  }

  &.btn-red {
    background: v.$red;

    &:hover {
      border-color: v.$red;
      color: v.$red;
    }
  }
}

.container {
  width: 1700rem;
  margin: 0 auto;
  max-width: 100%;

  &.no-padding {
    padding: 0 !important;
  }
}

.row {
  display: flex;

  // .col {}
}

.cover {
  position: absolute;
  object-fit: cover;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.swiper-button-next {
  justify-content: center;
  border: 2px solid v.$red;
  background: white;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 28rem;
  height: 50rem;
  display: flex;
  width: 50rem;
  color: v.$red;
  z-index: 3;

  svg {
    fill: v.$dark-red
  }
}

.slider-wrap-buttons {
  align-items: center;
  position: absolute;
  display: flex;
  gap: 15rem;
  bottom: 0;
  right: 0;

  button {
    justify-content: center;
    border: 2px solid v.$red;
    background: white;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 28rem;
    height: 50rem;
    display: flex;
    width: 50rem;
    color: v.$red;
    z-index: 3;

    &[disabled] {
      background: #f1f1f1;
      cursor: default;
      color: grey;
      opacity: .4;
    }

    @include m.max(lg) {
      bottom: 14rem;
    }

    &.btnPrev {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  &.centered {
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 0;

    .btnPrev {
      position: relative;
      bottom: auto;
      right: auto;
    }

    .btnNext {
      position: relative;
      bottom: auto;
      right: auto;
    }
  }

  &.studio-controls {
    width: 55%;
    bottom: 15rem;

    @include m.max(md) {
      width: 100%;
    }

    .slide-count {
      color: v.$dark-red;

      @include m.max(md) {
        color: white;
      }
    }
  }

  &.from-bgs {
    @include m.min(md) {
      display: none;
    }
  }

  &.from-bgs {
    @include m.max(xs) {
      bottom: 15rem;
    }
  }

  .slide-count {
    font-weight: bold;
    font-size: 18rem;
    color: white;
    z-index: 3;

    // @include m.max(lg) {
    // }
  }
}

nav[aria-label=breadcrumb] {
  .breadcrumb {
      display: flex;

      li,
      a {
          font-size: 19rem;

          @include m.max(sm) {
              font-size: 16rem;
          }

          &.active {
              font-weight: bold;
          }
      }

      a:hover {
          text-decoration: underline;
      }

      li:not(:last-child)::after {
          display: inline-block;
          margin: 0 10rem;
          content: "→";
      }
  }
}
