
$red: #6b2414;
$light-red: #b35c4b;
$verylight-red: rgb(252, 223, 223);
$dark-red: #5e2012;
$orange: #c47451;
$green: #7B785B;
$dark-green: #2c2a15;
$light-green: #e3dfcb;
$beige: #cfaf96;
$light-beige: #E3DECA;

$open: 'Lato', arial;
$lato: 'Lato', arial;
$openExtra: 'Lato', arial;

$lg-size: 1720rem;
$space: 20rem;
